<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>404 Not Found</title>
  </head>
  <body>
    The requested resource was not found

    <a href="/dogs">See all dogs</a>
  </body>
</html>
