<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Doggos!</title>
  </head>
  <body>
    <h1>Create a Dog</h1>


    <form action="/dogs" method="POST">
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" />
      </div>
      <div>
        <label for="hairColor">Hair Color:</label>
        <input type="text" id="hairColor" name="hairColor" />
      </div>

      <input type="submit" value="Create Dog" />
    </form>
  </body>
</html>
